@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');

:root{
  --oranje: #f7a222;
  --rood: #FF5D5D;
}

*{
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
  text-transform: capitalize;
  outline: none;
  margin: 0; padding: 0;
  box-sizing: border-box;
}
header{
    width: 96%;
    background: #FBF7F4;
    position: fixed;
    top: 2rem; left: 50%;
    transform: translateX(-50%);
    border-radius: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    z-index: 1000;
    transition-duration: .4s;
  }
body{
background-image: url(marjolein_bg.jpg);
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }


header{
  width: 96%;
  background: rgb(255, 180, 100);
  position: fixed;
  top: 2rem; left: 50%;
  transform: translateX(-50%);
  border-radius: 5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 2rem;
  z-index: 1000;
  transition-duration: .4s;
}
.header-active{
  top:0;
  width:100%;
  border-radius: 0;
  box-shadow: 0 .1rem .3rem #000;
  transition-duration: .4s;
}
header .navbar ul{
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .navbar ul li{
  margin: 5px;
}
header .navbar ul li a{
  font-size: 12px;
  color: rgb(0, 0, 0);
}
header .navbar ul li a:hover{
  color:var(--oranje);
  transition-duration: .5s;
}
header .logo{
  font-size: 12px;
  color: #000;
  text-transform: none;
}
header .fa-bars{
  font-size: 20px;
  cursor: pointer;
  color: var(--oranje);
  display: none;
  transition: .3s;
}
header .fa-times{
  transform: rotate(180deg);
  color: var(--oranje);

}


.header-text h1{
  font-size: 500%;
  padding-top: 10rem;
  text-shadow: 0 1px #808d93, -1px 0 #cdd2d5, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #808d93, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5;
  color: #202c2d;
margin-top: 1%;
}


.inleiding img{
    width: 46%;
    height: 44.75%;
    border-radius: 30px;
    margin-left: 2rem;

}
.inleiding{
    display:flex;
    padding-top: 10px;
}
.card-holder{
    flex-flow: column;
    text-align: center;
	overflow: hidden;
	position: relative;
  margin-top: 1.6rem;
	margin-left: 7rem;
	border-radius: 25px;
	background:#FFB669;
	width: 680px;
	height: 615px;
    padding: 20px 30px;
}

.card-holder h1{
    font-size: 50px;
    text-transform: none;
    margin-top: 18%;
}
.card-holder p{
    font-size: 19px;
    text-transform: none;
    letter-spacing: 1.2px;
    width: 80%;
 margin-top: 1%;
    margin-left: 10%;
}
.column {
    float: left;
    width: 33%;
    padding: 0 10px;
    padding-top: 70px;
  }
  
  .row {margin: 0 -5px;}
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: whitesmoke;
    border-radius: 25px;
    height: 180px;
  }
  .card h3{
    text-transform: none;
  }
  .card p{
    text-transform: none;
    padding-top: 12px;
  }
  iframe{
    flex-direction: column;
    padding-top: 18rem;
    padding-left: 0rem;
    width: 70%;
    height: 68vh;
    display: flex;
    align-content: center;
    justify-content: center;
    flex-direction: column;
    margin-top: 5%;
  }
  .maps{
    padding-bottom: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 0%;
    
    
  }
  .MapsText{
    text-shadow: 0 1px #474747, -1px 0 #767f85, -1px 2px #808d93, -2px 1px #cdd2d5, -2px 3px #e7e7e7, -3px 2px #cdd2d5, -3px 4px #808d93, -4px 3px #cdd2d5;
    color: #202c2d;
    text-transform: none;
    width: 50%;

    font-size: 260%;
    margin-left: -2%;
    position: absolute;
    margin-top: -320px;
    text-align: center;
  }

  /* Footer */


  .footer{
    display: inline-block;
    display: flex;
    font-size: 125%;
    justify-content: space-between;
    position: relative;
    list-style: none;
    background: rgb(255, 180, 100);
  }
  
  
  .left-container{
    max-width: 30%;
    margin-left: 5%;
    text-align: center;
    margin-top: 1%;
    margin-bottom: 2%;
  }
  
  .left-container h6{
    font-size: 80%;
    font-weight: 600;
  }
  
  .left-container p{
    font-size: 60%;
    margin-top: 10%;
  }
  
  .middle-container{
    font-weight: 600;
    max-width: 30%;
    margin-right: 6%;
    justify-content: center;
    text-align: center;
    margin-top: 1%;
    font-size: 70%;
  }
  
  .middle-container h6{
    font-size: 110%;
    margin-bottom: 2%;
  }
  
  .right-container{
    justify-content: center; 
    max-width: 30%;
    margin-right: 5%;
    margin-top: 1%;
    font-size: 80%;
    font-weight: 600;
  }
  
  .right-container h6{
    font-size: 100%;
    margin-bottom: 2%;
  }
  
  .Socials{
   margin-top: 15%;
  }
  
  .re-direct{
    color: black;
  }
  
  .fa-brands{
    color: black;
    scale: 250%;
    transition: 0.5s ease;
  }
  
  .fa-brands:hover{
    scale: 300%;
    color: white;
    transition: 0.5s ease;
  }
  
  .right-container ul.Socials{
    margin-left: 20%;
    justify-content: center;
    align-self: center;
    align-content: center;
  }
  
  .right-container ul.Socials li{
    list-style: none;
    margin-left: -15%;
    font-size: 70%;
    margin-bottom: 40%;
    color: rgb(255, 255, 255);
   text-align: center;
  }
  
  nav ul li a{
    transform: 0.5s;
  }
  
  .open b{
    color: white;
    margin-left: 15px;
  }
/* media query time bby */

@media (max-width: 770px){
  html{
    font-size: 55%;
  }
  header .fa-bars{
    display: block;
  }
  header .navbar{
    position: fixed;
    top: -100rem; left: 0;
    width: 100%;
    background: #FFF;
    border-radius: 1rem;
    opacity: 0; 
    transition: .4s linear;
  }
  header .navbar ul{
    flex-flow: column;
    padding: 2rem 0;
  }
  header .navbar ul li{
    margin: 1rem 0;
    width: 100%;
    text-align: center;
  }
  header .navbar ul li a{
    font-size: 20px;
    display: block;
  }
  header .nav-toggle{
    top: 5.5rem;
    opacity: 1;
  }
  .container{
    flex-direction: column;
  }

  .inleiding{
    flex-direction: column;
    width: 180%;
    height: 180%;
    margin-left: 1.5%;

  }



  .card-holder{
    flex-flow: column;
    text-align: center;
	overflow: hidden;
	position: relative;
  margin-top: 1.6rem;
	margin-left: 6.75%;
	border-radius: 25px;
	background:#FFB669;
	width: 40%;
	height: 400px;
    padding: 20px 30px;
}

.card-holder h1{
  font-weight: 600;
  flex-flow: column;
width: 80%;
font-size: 28px;
margin-left: 7%;
margin-top: -5%;
line-height: 130%;
}

.card-holder p{
  flex-flow: column;
font-size: 15px;
width: 110%;
text-align: left;
margin-left: -2%;
}





  .footer p{
    font-size: 10px;
    width: 100%;
}
.footer{
  display: block;
  justify-content: center;
  text-align: center;
  align-items: center;
  align-self: center;
  padding-bottom: 5%;
  padding-top: 5%;
}

.footer  p{
  text-align: center;
}

.left-container{
  text-align: center;
  margin: auto;
}

.left-container h6{
  font-size: 125%;
  margin-top: 10%;
}

.middle-container{
  text-align: center;
  margin: auto;
  margin-left: 39%;
}

.middle-container h6{
  font-size: 120%;
  text-align: center;
  margin-left: -20%;
}

.right-container{
  text-align: center;
  margin: auto;
}

.right-container h6{
  font-size: 125%;
}




.Socials{
  align-self: center;
  text-align: center;
  margin-top: 10%;
}

.right-container ul.Socials{
  margin-right: 1%;
  margin-bottom: 5%;
  justify-content: space-between;
}


.MapsText{
  font-size: 200%;
  width: 80%;
margin-top: -90%;
}
.maps p{
  font-size: 10px;
  width: 100%;
}



.open b{
  margin-left: 25%;
}
}